@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100%;
  flex-grow: 1;
  flex-direction: column;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
  /* background-color: rgb(34, 34, 34); */
  background-size: cover;
  background-position: center;
  /* filter: blur(10px); */
  /* Adjust the blur radius as needed */
  /* background-image: url('https://ssniper.sirv.com/Images/vecteezy_abstract-purple-fluid-wave-background_6868933.jpg'); */
  /* background-image: url('https://ssniper.sirv.com/Images/other%20projects/synthetic-8597464_1920.jpg'); */
  background-image: url('https://ssniper.sirv.com/Images/other%20projects/space.jpg');
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.playwrite {
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}